body {
  height: 100vh;
}
body,
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
#root {
  border: 3px solid blue;
  width: 70%;
  height: 70%;
  text-align: center;
  justify-content: space-around;
}
/* login */
#greeting {
  width: 50%;
  border: 3px solid black;
  padding: 10px;
  background-color: aliceblue;
  height: 20px;
  color: black;
}

/* clock */
.clock {
  text-align: center;
  font-size: 50px;
}
.clock div + div {
  font-size: 80px;
}

/* quote */
#quote {
  text-align: center;
  width: 100%;
  height: 30%;
}
#quote p:first-child {
  font-size: 30px;
}
#quote p:last-child {
  font-size: 20px;
  margin-top: 10px;
}
/* background */
/* weather */
#weather {
  font-size: 20px;
}
